body{
	background-color: grey;
	text-align: center;
}
.container{
	border: 2px solid black;
	width:90%;
	position: relative;
	margin: auto;
}
#texte{
	width: 50%;
	height: 50px;
	margin:5px 5px 5px 5px;
}
#btnTest{
	margin-bottom: 20px;
	margin-left: 10%;
	width: 30%;
	border-radius: 10px;

}
#selected, .col-md-6 {
	font-size: 2em;
	text-align: center;
}
#result1, #result{
	font-size: 3em;
	margin-top: 25%;
}